<section id="main">
  <div id="page-7" class="content">
    <div class="page_title">
      <h2>About</h2>
    </div>
    <h3 class="aligncenter">We make things happen</h3>
    <p>&nbsp;</p>
    <p>

    <div class="columns">
      <div class="first one-third staff"> <%= image_tag 'staff.jpg'%>

        <h4 class="aligncenter">John Doe</h4>
        <h5 class="aligncenter">CEO &#038; Creative Director</h5>
        <p class="aligncenter">Quisque eget mi mi, sed egestas lectus. Fusce dictum, ligula id gravida tempus, sem felis bibendum odio, quis pulvinar purus eros eu elit.</p>

      </div>

      <div class="one-third staff"> <%= image_tag 'staff.jpg'%>

        <h4 class="aligncenter">Rob Smith</h4>
        <h5 class="aligncenter">Web Designer</h5>
        <p class="aligncenter">Sed sit amet diam purus. Donec eu purus sit amet lacus aliquam pharetra sed gravida odio. Aliquam a ipsum mi, in accumsan diam.</p>

      </div>

  <div class="copyright">All Rights Reserved © 2012</div>

</section>