<section id="main">
  <div id="blog" class="content last-content">
    <div class="page_title">
      <h2>Blog</h2>
    </div>

    <div class="post">
      <div class="post-aside">
        <div class="post-thumb"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=96"><img width="197" height="153" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_10_l2-197x153.jpg" class="attachment-blog wp-post-image" alt="Responsive Web Design" title="Responsive Web Design" /></a></div>
        <div class="post-meta"> <span>15 Jan 2012</span> <span><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=96#comments" title="Comment on What is Responsive Web Design?">6 Comments</a></span>
          <div class="share"> <span><a rel="nofollow" href="http://twitter.com/home/?status=Reading 'What is Responsive Web Design?' - http%3A%2F%2Fview-full-site-wordpress-responsive-theme.wpstall.com%2F%3Fp%3D96">Tweet this post</a></span> <!--span><a href="#">Like this on Facebook</a></span--> </div>
        </div>
      </div>
      <div class="hentry"> <span class="category"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?cat=1" title="View all posts in HTML5" rel="category">HTML5</a></span>
        <h2><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=96">What is Responsive Web Design?</a></h2>
        <p>Responsive Web Layout is web layout that can adapt to a multitude of displays and devices. Using this theme, you can eliminate the need to create device-centric designs (like a “mobile” site for iPhone, iPad and other mobile devices and wide screens), and allow your content to be displayed from a single source, on an unlimited number of mediums.</p>
        <p><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=96" class="more-button">Read more &rarr;</a></p>
      </div>
    </div>
    <!-- END: .post -->


    <div class="post">
      <div class="post-aside">
        <div class="post-thumb"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=93"><img width="197" height="153" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_6_l1-197x153.jpg" class="attachment-blog wp-post-image" alt="work_6_l" title="work_6_l" /></a></div>
        <div class="post-meta"> <span>15 Jan 2012</span> <span><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=93#respond" title="Comment on New Responsive Website Design">0 Comments</a></span>
          <div class="share"> <span><a rel="nofollow" href="http://twitter.com/home/?status=Reading 'New Responsive Website Design' - http%3A%2F%2Fview-full-site-wordpress-responsive-theme.wpstall.com%2F%3Fp%3D93">Tweet this post</a></span> <!--span><a href="#">Like this on Facebook</a></span--> </div>
        </div>
      </div>
      <div class="hentry"> <span class="category"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?cat=1" title="View all posts in HTML5" rel="category">HTML5</a></span>
        <h2><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=93">New Responsive Website Design</a></h2>
        <p>Nunc sed facilisis magna magna cursus turpis in in nunc! Tempor arcu, ac odio proin nascetur diam a scelerisque porta integer facilisis magna! Diam nec pellentesque? Et. Lorem. Elementum lacus turpis, platea, sociis et in tortor turpis natoque nunc! Enim. Eu nec? Velit elementum et duis enim scelerisque tortor augue. Sit sagittis, porttitor, mus, tortor porta? Scelerisque diam porttitor pid? [...]</p>
        <p><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=93" class="more-button">Read more &rarr;</a></p>
      </div>
    </div>
    <!-- END: .post -->


    <div class="post">
      <div class="post-aside">
        <div class="post-thumb"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=90"><img width="197" height="153" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_9_l2-197x153.jpg" class="attachment-blog wp-post-image" alt="Elephant Dream" title="Elephant Dream" /></a></div>
        <div class="post-meta"> <span>15 Jan 2012</span> <span><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=90#respond" title="Comment on 45+ Fresh HTML5 Websites">0 Comments</a></span>
          <div class="share"> <span><a rel="nofollow" href="http://twitter.com/home/?status=Reading '45+ Fresh HTML5 Websites' - http%3A%2F%2Fview-full-site-wordpress-responsive-theme.wpstall.com%2F%3Fp%3D90">Tweet this post</a></span> <!--span><a href="#">Like this on Facebook</a></span--> </div>
        </div>
      </div>
      <div class="hentry"> <span class="category"><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?cat=9" title="View all posts in Inspiration" rel="category">Inspiration</a></span>
        <h2><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=90">45+ Fresh HTML5 Websites</a></h2>
        <p>Nunc sed facilisis magna magna cursus turpis in in nunc! Tempor arcu, ac odio proin nascetur diam a scelerisque porta integer facilisis magna! Diam nec pellentesque? Et. Lorem. Elementum lacus turpis, platea, sociis et in tortor turpis natoque nunc! Enim. Eu nec? Velit elementum et duis enim scelerisque tortor augue. Sit sagittis, porttitor, mus, tortor porta? Scelerisque diam porttitor pid? [...]</p>
        <p><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?p=90" class="more-button">Read more &rarr;</a></p>
      </div>
    </div>
    <!-- END: .post -->



    <div class="pagination">
      <!--div class="wp-pagenavi"-->

      <span class="current">1</span>
      <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?page_id=19&#038;paged=2" class="page" title="2">2</a><a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/?page_id=19&#038;paged=2" class="nextspostslink">Next</a><!--/div-->
    </div>

    <div class="copyright">All Rights Reserved © 2012</div>

</section>