<section id="main">
  <div id="page-14" class="content">

    <div class="video-container">
      <iframe src="http://player.vimeo.com/video/18439821?title=0&byline=0&portrait=0" width="800" height="450" frameborder="0"></iframe>
    </div>


    <div class="page_title">
      <h2>Our Gallery</h2>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis, nunc in vehicula sagittis, mi purus mollis eros, a pharetra metus mauris eu sem. Curabitur vestibulum mi non purus laoreet convallis porttitor mollis augue. Nulla quis urna augue.</p>
    <div id="gallery-1" class="gallery galleryid-96 gallery-columns-5 gallery-size-thumbnail">
      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_1_l.jpg" rel="prettyPhoto[gallery]" title="work_1_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_1_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_2_l.jpg" rel="prettyPhoto[gallery]" title="work_2_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_2_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_3_l.jpg" rel="prettyPhoto[gallery]" title="work_3_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_3_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_4_l.jpg" rel="prettyPhoto[gallery]" title="work_4_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_4_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_5_l.jpg" rel="prettyPhoto[gallery]" title="work_5_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_5_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_7_l.jpg" rel="prettyPhoto[gallery]" title="work_7_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_7_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_8_l.jpg" rel="prettyPhoto[gallery]" title="work_8_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_8_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_9_l.jpg" rel="prettyPhoto[gallery]" title="work_9_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_9_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_10_l.jpg" rel="prettyPhoto[gallery]" title="work_10_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_10_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_11_l.jpg" rel="prettyPhoto[gallery]" title="work_11_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_11_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_12_l.jpg" rel="prettyPhoto[gallery]" title="work_12_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_12_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_13_l.jpg" rel="prettyPhoto[gallery]" title="work_13_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_13_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_14_l.jpg" rel="prettyPhoto[gallery]" title="work_14_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_14_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>

      <dl class="gallery-item">
        <dt class="gallery-icon"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_15_l.jpg" rel="prettyPhoto[gallery]" title="work_15_l"><img src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/themes/viewFullSite/functions/timthumb.php?src=http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_15_l.jpg&amp;w=80&amp;h=80&amp;zc=1" /></a></dt>
      </dl>
    </div>
  </div>

  <div class="copyright">All Rights Reserved © 2012</div>

</section>