<section id="main">
  <div id="page-11" class="content">
    <div class="page_title">
      <h2>Works</h2>
    </div>
    <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>

    <section id="options" class="clearfix">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*">All</a></li>
        <li>/<a href="#filter" data-option-value=".illustration">Illustration</a></li>

        <li>/<a href="#filter" data-option-value=".motion">Motion</a></li>

        <li>/<a href="#filter" data-option-value=".print">Print</a></li>

        <li>/<a href="#filter" data-option-value=".video">Video</a></li>

        <li>/<a href="#filter" data-option-value=".web">Web</a></li>

      </ul>
    </section>
    <div id="works-container">

      <div class="element video" data-category="video"> <a href="http://vimeo.com/1084537" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_1_l1.jpg" class="attachment-portfolio wp-post-image" alt="Big Buck BUNNY" title="Big Buck BUNNY" /></a></div>

      <div class="element illustration" data-category="illustration"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_2_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_2_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="The MUSE" title="The MUSE" /></a></div>

      <div class="element motion" data-category="motion"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_3_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_3_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Letter S" title="Letter S" /></a></div>

      <div class="element print" data-category="print"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_4_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_4_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="BAXTER" title="BAXTER" /></a></div>

      <div class="element web" data-category="web"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_5_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_5_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="The DEAR!" title="The DEAR!" /></a></div>

      <div class="element motion" data-category="motion"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_6_l.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_6_l-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Would you care more if I was a Panda?" title="Would you care more if I was a Panda?" /></a></div>

      <div class="element print" data-category="print"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_7_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_7_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Minus The Bear" title="Minus The Bear" /></a></div>

      <div class="element web" data-category="web"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_8_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_8_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="How to Focus" title="How to Focus" /></a></div>

      <div class="element video" data-category="video"> <a href="http://vimeo.com/1132937" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_9_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Elephants Dream" title="Elephants Dream" /></a></div>

      <div class="element illustration" data-category="illustration"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_10_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_10_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Book of Lions" title="Book of Lions" /></a></div>

      <div class="element motion" data-category="motion"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_11_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_11_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="All Tour Friends - GO MEDIA" title="All Tour Friends - GO MEDIA" /></a></div>

      <div class="element print" data-category="print"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_12_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_12_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Andrew Jackson" title="Andrew Jackson" /></a></div>

      <div class="element web" data-category="web"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_13_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_13_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Parachute Journalists" title="Parachute Journalists" /></a></div>

      <div class="element motion" data-category="motion"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_14_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_14_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Jeff Finley" title="Jeff Finley" /></a></div>

      <div class="element print" data-category="print"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_15_l1.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_15_l1-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Ted Leo" title="Ted Leo" /></a></div>

      <div class="element web" data-category="web"> <a href="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_16_l.jpg" rel="prettyPhoto[portfolio]"><img width="170" height="160" src="http://view-full-site-wordpress-responsive-theme.wpstall.com/wp-content/uploads/2012/01/work_16_l-170x160.jpg" class="attachment-portfolio wp-post-image" alt="Bear &amp; Wear" title="Bear &amp; Wear" /></a></div>
    </div>
  </div>

  <div class="copyright">All Rights Reserved © 2012</div>

</section>